@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 8vmin;
}

h2 {
  font-family: 'Bai Jamjuree', sans-serif;
}

.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.singing,
.login {
  color: #404041;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .5s ease-in-out;
}


.singing:hover {
  color: #f02c38;
}
.login:hover {
  color: #f02c38;
}

.copyright-text {
  color: #7B827D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
